// HEADER
$header-color:#547AA5;
$header-text-color:#f3f2e4;

// BODY
$bg-color:#f3f2e4;
$text-color:#191716;
$third-color:#FCBF49;

// FOOTER
$footer-color:#547AA5;
$footer-text-color:#f3f2e4;

// BUTTON
$button-color: #547AA5;
$button-text-color:#f3f2e4;

// 







