.button-global{
    background: none;
    border: none;
    outline: none;
    
    border-radius: 7px;
    background-color:$button-color;
    padding: 0.6rem;
    width: 12rem;
    margin: 0 0 0.6rem;
    transition: all 500ms;

        &:hover{
            transform: scale(1.1);
            color: $third-color;
        }
        a{
            color: $button-text-color;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 500ms;  
            &:hover{
                color: $third-color;
            }
        }
}