footer{
    width: 100vw;
    background-color:$footer-color;
    padding: 0;
    margin-bottom: 0;
    
    div{
        ul{
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            margin-top: 0.6rem;
            height: 4.4rem;
            li{
                display: flex;
                align-items: center;
                a{
                    
                    color:$footer-text-color;
                    padding: 20px;
                    transition: all 250ms;
                    &:hover{
                        color:$third-color;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}