.header{
    margin-bottom: 10px;
}

.bg-nav{
    background-color: #547AA5;
}

.navbar{
    text-transform: uppercase;
}

.navbar-brand{
    font-style: italic;
    font-size: 24px;
    color: $header-text-color;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: all 500ms;
        &:hover{
            color: $third-color;
            transform: scale(1.2);
        }
}

.nav-link{
    color: $header-text-color;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: all 500ms;
        &:hover{
            color: $third-color;
            transform: scale(1.2);
        }
}

