%nav-text-style{
    color: $header-text-color;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: all 500ms;
    text-transform: uppercase;
        &:hover{
            color: $third-color;
            transform: scale(1.2);
        }
}

.header{
    width: 100%;
}

.bg-nav{
    background-color: #547AA5;
}

.navbar-brand{
    font-style: italic;
    @extend %nav-text-style;
    margin: 0 50px 0;
}

.nav-link{
    @extend %nav-text-style;
}

.nav-item{
    margin: 0 50px 0;
}

