.main-descargas{
    section{
        div{
            div{
                p{
                    max-width: 600px;
                }
            }
        }
    }
}

.download-link{
    background-image: url(https://i.ibb.co/MGfDYqS/banner-link-download.jpg);
    height: 200px;
    width: 1200px;
    margin: 0 auto 20px;
    text-align: left;
    padding: 20px;
    border-radius: 7px;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    transition: all 500ms;
    
    &:hover{
        box-shadow: none;
    }

    a{
        color: white;
        text-decoration: none;
    }
}
